<form action="/addevent" method="post">

    <p>
        <label>Event Name:</label>
        <input type="text" name="event_Name" required>
    </p>

    <p>
        <label>Description:</label>
        <input type="text" name="event_Description">
    </p>

    <p>
        <label>Participant Limit:</label>
        <input type="number" name="participant_Limit" value='100'>
    </p>

    <p>
        <label>Location:</label>
        <input type="text" name="location_Name">
    </p>

    <p>
        <label>Location Address:</label>
        <input type="text" name="location_Address">
    </p>

    <p>
        <label>Location Capacity:</label>
        <input type="number" name="location_Capacity" value='100'>
    </p>

    <p>
        <label>Start Time:</label>
        <input type="datetime-local" name="time_Start">
    </p>

    <p>
        <label>End Time:</label>
        <input type="datetime-local" name="time_End">
    </p>

    <p><input type="submit" value="Submit"></p>

</form>

<p><a href="/">Back</a></p>